:root {
  --hover-color: #222d3f;
  --hover-checked-color: #739ad8;
}
@media (hover: hover) {
  /* when hover is supported */
  .container:hover .accordion:not(:focus) label {
    color: var(--hover-color);
  }
  .accordion:hover .accordion__content {
    opacity: 1;
    height: max-content;
    font-size: 1rem;
  }
  .container:hover .accordion:active input ~ label {
    color: var(--cover-focus);
  }
}
/* media */
@media (max-width: 870px) {
}

@media (max-width: 380px) {
}
